APP_NAME=FinanzasAPI
APP_ENV=development

DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT].supabase.co:5432/postgres

SUPABASE_URL=https://[YOUR-PROJECT].supabase.co
SUPABASE_JWT_SECRET=[YOUR-JWT-SECRET]
SUPABASE_PUBLISHABLE_KEY=[YOUR-SUPABASE-PUBLISHABLE-KEY]
SUPABASE_SECRET_KEY=[YOUR-SUPABASE-SECRET-KEY]

API_V1_PREFIX=/api/v1